[Desktop Entry]
Exec=/usr/bin/mkcp --snapshot
GenericName[fr_FR]=crée un instantané NILFS2 avec «mkcp»
GenericName=Create a NILFS snapshot using mkcp
Icon=document-save-symbolic
MimeType=
Name[fr_FR]=Snapshot
Name=Snapshot
StartupNotify=false
Terminal=false
TerminalOptions=\s--noclose
Type=Application
X-KDE-SubstituteUID=false
