[Desktop Entry]
Exec=/usr/bin/nilfs2.sh snapshot
GenericName[fr_FR]=crée un instantané NILFS2
GenericName=Create a NILFS snapshot
Icon=document-save-symbolic
MimeType=
Name[fr_FR]=Snapshot
Name=Snapshot
StartupNotify=false
Terminal=false
TerminalOptions=\s--noclose
Type=Application
X-KDE-SubstituteUID=false
